<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MTG_Draw.Properties.Settings.LocalDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Pfad" value="c:\users\sb\desktop"/>
    <add key="ConfigPfad" value="C:\Users\sb\MTG_Draw\MTG-Draw-Config.xml"/>
  </appSettings>
</configuration>